streamlit
pandas
altair
plotly
pillow
numpy
sqlalchemy
psycopg[binary]
python-dotenv
requests
PyMuPDF
opencv-python-headless
streamlit-card
pdfplumber
google-genai
chromadb
sentence-transformers
torchvision
streamlit_scroll_to_top
psycopg2-binary
boto3