streamlit
pandas
altair
plotly
pillow
numpy
sqlalchemy
psycopg[binary]
python-dotenv
requests
PyMuPDF
opencv-python-headless
streamlit-card
docling


chromadb
sentence-transformers
pdfplumber
camelot-py[cv]
pytesseract


google-generativeai
